.breaking-news-ticker-navigation {
  position: absolute;
  right: 0;
  display: flex;
  height: 100%;

  &--button {
    height: 100%;
    background: #fff;
    border: none;
    cursor: pointer;
  }
}
