$breaking-news-ticker-news: '.breaking-news-ticker-news';

.breaking-news-ticker-news {
  width: 100%;
  padding-left: 10px;

  &--scroll {
    position: relative;
    display: flex;
    scroll-behavior: smooth;

    .#{$breaking-news-ticker-news}__item {
      padding: 0 10px;
    }
  }

  &__item {
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
