.breaking-news-ticker-controls {
  display: flex;
  height: 100%;

  &--button {
    height: 100%;
    background: #f6f6f6;
    border: none;
    border-left: solid 1px #eee;
    cursor: pointer;
  }
}
